.container {
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f5f5f5;
    /* background-color: #8EE4AF; */
}

.row {

    background-color: #ec6f6f;
}