.mainView {
    display: flex;
    flex-direction: row;
    /* background-color: rgb(234, 234, 241); */
    min-height: 75vh;
    max-height: max-content;
    width: 100vw;
    padding: 20px;
    /* margin-bottom: 10px; */

}

.chartArena {
    display: flex;
    flex-direction: column;
    height: max-content;
    width: 75vw;
    border: 1px solid black;
    padding: 10px;
    border: 2px solid;
    border-color: rgba(111, 111, 111, 0.2);
    border-radius: 5px;
    /* padding: 10px 5px 10px 5px; */
    margin: 5px 0 5px 0;

}

.chartHeading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
    /* background-color: rgba(215, 208, 208, 0.2); */
    border-radius: 5px 5px 5px 5px;
}

.statusChart {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 250px;
}