.mainView {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* background-color: rgb(234, 234, 241); */
    min-height: 75vh;
    max-height: max-content;
    width: 100vw;
    padding: 20px;
    /* margin-bottom: 10px; */
    /* background-color: #5CDB95; */
    background-color: #f8fafb;


}

.chartArena {
    display: flex;
    flex-direction: column;
    height: fit-content;
    min-width: fit-content;
    width: 40vw;
    border: 1px solid black;
    padding: 10px;
    border: 2px solid;
    border-color: rgba(111, 111, 111, 0.2);
    border-radius: 5px;
    padding: 10px 5px 10px 5px;
    margin: 5px 5px 5px 5px;

}

.arenaHeading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
    /* background-color: rgba(215, 208, 208, 0.2); */
    border-radius: 5px 5px 5px 5px;
}

.arenaBody {
    display: flex;
    flex-direction: row;
    /* width: 250px; */
    /* height: 250px; */
}

.sectionWiseArena {
    width: 100%;
}