.chatInfo{
    height: 60px;
    /* background-color: darkgray; */
    background-color: #0859ab;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}
.chatIcons{
    display: flex;
    gap: 10px;   
}
.chatIcons img{
    width: 24px;
    height: 24px;
    cursor: pointer;
}